* {
    margin: 0;
    padding: 0;
}
body {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: white;
    padding: 10px;
}